.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 350px;
    background: #FAF1E2;
    text-align: center;
    margin: 10px auto;
    border-radius: 0.5em;
    border: 1px solid #4B7F55;
    box-shadow: 2px 2px 4px #4B7F55;
    padding-bottom: 5px;
}
.card:hover {
    box-shadow: 5px 5px 0px #2F5135;
    top: 3px;
    left: -3px;
}


.image-card {
    margin: 5px auto;
    width: 93%;
    height: 120px;
    border-radius: 0.5em;
    object-fit: cover;

}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

a.btn {
    text-decoration: none;
    font-size: 12px;
    background-color: #4B7F55;
    color: #FAF1E2;
    padding: 5px;
    margin-bottom: 5px;
    width: 30%;
    border-radius: 0.5em;

}

a.btn:hover {
    box-shadow: 5px 5px 0px #2F5135;
    top: 3px;
    left: -3px;
}

.card-title {
    font-size: 85%;
    margin: 10px;
}

.card-text {
    font-size: 70%;
    margin: 5px;

}


