.App {
  display: flex;
  text-align: center;
  flex-direction: column;

}

img{
  width: 135px;
  padding: 5px;
}

.color {
    height: auto;
    width: 100%;
    animation: color 3s alternate infinite;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
@keyframes color  {
    from {background-color: #4B7F55;}
    to {background-color: #FAF1E2;}

}


.footer ul{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2F5135;
    list-style: none;

}

.footer li{
    color: #FAF1E2;
}











