.App {
  display: flex;
  text-align: center;
  flex-direction: column;

}

img{
  width: 135px;
  padding: 5px;
}

@keyframes color  {
    from {background-color: #4B7F55;}
    to {background-color: #FAF1E2;}

}

.color {
  height: auto;
  width: 100%;
  animation: color 2s alternate infinite;

}











